*{
    margin:0;
    padding: 0;

}

body{
    background-color:white;
    font-family: 'Roboto Slab', serif;

}
.container{

    max-width: 1000px;
    margin: auto;
    background-color: rgb(202, 252, 247);
    padding: 20px;

}
.profile-img{
    width: 150px;
    height: 140px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    float: left;
    
}
.header-bio{
    float: left;
    padding: 10px;
    color:rgb(247, 113, 36);
    
    
}

.header-contact{

    float:right;
    padding: 75px;
}
.header-contact a{
    text-decoration: none;
    color:rgb(247, 113, 36);

}
.header-contact a:hover{
    text-decoration: underline;
    color:black;
    cursor: cell;

}
.clear-div{
    clear: both;
}
hr{
    border: solid rgb(247, 113, 36) 3px;
    border-width:100%;
   

}
#personal-information{
    margin-top: 20px;

}
#content{
    padding: 20 px;
}
.field1{
    border-color: brown;
    padding: 20px;
}
.legend{
    color: rgb(247, 113, 36);
    font-style: italic;
}
.left-div{
    margin-top: 20px;
    width: 30%;
    float: left;

}
.middle-div{
    margin-top: 20px;
    width: 3%;
    float: left;
}
.right-div{
    width: 60%;
    margin-top: 20px;
    float :left;
    font-style: italic;

}

 .left-div h3{
     font-style: italic;
 }
 .gap{
     margin-bottom: 30px;
 }
 .map{
     margin-top: 8px;
 }
 #Educational-qualification{
    margin-top: 20px;

 }

 .field2{
    border-color: brown;
    padding: 20px;
    font-style: italic;
 }
 .legend2{
     color:rgb(247, 113, 36) ;
 }
 .border{
     border-color:brown;
 }
.first-row{
    background-color: brown;
    color: cornsilk;
}
.computerskill{
     padding-top: 20px;
}
.skill{
    font-style: italic;
}
.field3{
    border-color: brown;
    padding: 20px;
    font-style: italic;
}
.legend3{
    color: rgb(247, 113, 36) ;
}
.conclusion{
    font-style: italic;
    padding-top: 40px;
}
.footer{
    margin-top: 5%;
    padding-bottom: 7%;
    background-color: black;
    text-align: center;
}
.footer h2 a{
    text-decoration: none;
    
}
.margin{
    padding-top: 2%;
    margin-bottom: 1px;
}
.red{
    color: red;
}
.white{
    color: white;
}
.last{
    color: white;
    margin-top: 30px;
}
.margin h2 a:hover{
    cursor:cell;
    color: black;
}